#container{
    border: 5px solid black;
    /* float: right; */
    width: 99%;
    height: 20vh;
}
.block1{
    background-color: rgb(163, 54, 235);
    height: 100px;
    width: 50px;
    margin: 10px 10px;
    margin-top: 40px;
    float: right;
    margin-right: 20px;
}
.block2{
    background-color: green;
    height: 130px;
    width: 300px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.circle{
    background-color: aqua;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    float: right;
    margin-top: 10px;
    margin-right: 140px; 
}
#centerbox{
   border: 5px dotted black;
   height: 20vh;
   width: 97vw;
   margin-top: 10px;
}
.innerbox{
    background-color: rgb(241, 241, 191);
    height: 15vh;
    width: 90vw;
    margin: 15px;
    margin-left: 25px;
    margin-top: 18px;
    box-shadow: 5px 7px 4px #444444;
}
.hellobox{
    border: 1px solid gray;
    height: 30vh;
    width: 50vw;
    margin: 15px;
    margin-left: 170px;
}
.hellofriends{
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
    color: rgb(83, 38, 126);
}


